@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

:root {
  --primary-color: #3D1D0F;
  --secondary-color: #E75A97;
  --background-color: #FDF6F0;
  --text-color: #4A4A4A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
  color: var(--primary-color);
}
